<!DOCTYPE html>
{% load static %}
{% static "" as staticUrl %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{{ staticUrl }}news_app/css/global-style.css">
    <title>Start</title>
</head>
<body>
<h2>Правила сайта</h2>
<ul>
    <li>На сайте представлены новости.</li>
    <li>У нас есть три вида пользователей:
        <ol>
            <li>Гости могут просматривать список новостей, детали и комментарии</li>
            <li>Зарегистрированные пользователи могут оставлять комментарии,
                <br>заполнить профиль и запросить авторизацию<br> у админа
            </li>
            <li>Авторизованные пользователи могут публиковать новости</li>
        </ol>
    </li>
    <li>К новостям можно прикреплять картинки</li>
    <li>Авторизованные пользователи могут иметь аватар</li>
    <li></li>
</ul>
<p>
    <a href="{% url 'index' %}">На главную</a>
</p>
</body>
</html>